.team {
  display: flex;
}

.team__item {
  background-color: var(--white-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__info {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.team__title {
  @extend %title;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  @extend %card-text;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transform: scale(1);
  transition: transform 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: var(--accent-color);

    transform: scale(1.05);
  }
}

.social__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);

  .social__link:hover &,
  .social__link:focus & {
    fill: var(--white-text-color);
  }
}
