.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--dark-bcg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title {
  margin-bottom: 30px;
  text-align: center;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
}
.hero__btn {
  margin-left: auto;
  margin-right: auto;
}
