.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
