.footer__contacts {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: var(--white-text-color);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address {
  font-style: normal;
}

.address__map-link {
  color: var(--white-text-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
