.join__text {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.join__list {
  display: flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transform: scale(1);
  transition: transform 250ms var(--timing-function), background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    transform: scale(1.1);
  }
}
