.subscribe {
  margin-left: auto;
}
.subscribe__text {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.subscribe__form {
  display: flex;
  justify-content: center;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;
  color: var(--white-text-color);
  cursor: pointer;
  transition: border-color 250ms var(--timing-function);

  &:hover {
    border-color: var(--accent-color);

    &:focus {
      outline: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}

.subscribe__btn {
  margin-left: 12px;
}

.btn__icon {
  margin-left: 10px;
}
