.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  display: flex;
  max-height: 80px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition: fill 250ms var(--timing-function);
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: currentColor;
  }
}
